- horaries = (@period.morning ? Period.morning_horaries : Period.afternoon_horaries)
= form_for @period do |f|
  = f.error_messages
  %p
    = f.label :start
    %br
    = f.select :start, horaries
  %p
    = f.label :finish
    %br
    = f.select :finish, horaries
  %p
    = f.label :day
    %br
    = l @period.day, format: :long if @period.day
    = f.hidden_field :day
  %p= f.submit
