<% title "Periods" %>

<table>
  <tr>
    <th>Start</th>
    <th>Finish</th>
    <th>Day</th>
  </tr>
  <% for period in @periods %>
    <tr>
      <td><%= period.start %></td>
      <td><%= period.finish %></td>
      <td><%= period.day %></td>
      <td><%= link_to "Show", period %></td>
      <td><%= link_to "Edit", edit_period_path(period) %></td>
      <td><%= link_to "Destroy", period, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Period", new_period_path %></p>
