- title @base.strftime '%B/%Y'

.months
  .left
    = link_to_month t(:previous_month), @base.prev_month
  .mid
    = link_to_month t(:current_month), Date.today
  .right
    = link_to_month t(:next_month), @base.next_month

%table.horaries-table
  - # FIRST TABLE HEADING
  %tr
    %th
    %th{colspan: 3}=t :morning
    %th{colspan: 3}=t :afernoon
  - # SECOND TABLE HEADING
  %tr
    %th= Period.human_attribute_name :day
    %th= Period.human_attribute_name :start
    %th= Period.human_attribute_name :finish
    %th.tiny
    %th= Period.human_attribute_name :start
    %th= Period.human_attribute_name :finish
    %th.tiny
  - month = Date.new(@base.year, @base.month, -1)
  - last = month.day
  - 1.upto last do |day|
    - month = month.change day: day
    - morning = periods_for(@periods, day, true).first
    - afternoon = periods_for(@periods, day).first
    - # TABLE CONTENT
    %tr
      %td.day= sprintf "%02d", day
      = show_period morning, month, true
      = show_period afternoon, month
