<% title "Period" %>

<p>
  <strong>Start:</strong>
  <%= @period.start %>
</p>
<p>
  <strong>Finish:</strong>
  <%= @period.finish %>
</p>
<p>
  <strong>Day:</strong>
  <%= @period.day %>
</p>

<p>
  <%= link_to "Edit", edit_period_path(@period) %> |
  <%= link_to "Destroy", @period, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", periods_path %>
</p>
