= form_for @user do |f|
  = f.error_messages

  %p
    = f.label :username
    %br
    = f.text_field :username
  - unless @user.new_record?
    %p
      = f.label :initial_balance
      %br
      = f.text_field :initial_balance
    %p
      = f.label :default_morning_start
      %br
      = f.select :default_morning_start, Period.morning_horaries
      = f.select :default_morning_finish, Period.morning_horaries
    %p
      = f.label :default_afternoon_start
      %br
      = f.select :default_afternoon_start, Period.afternoon_horaries
      = f.select :default_afternoon_finish, Period.afternoon_horaries
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  %p= f.submit (@user.new_record? ? t(:'helpers.submit.create',
      model: User.model_name.human) : t(:'helpers.submit.update',
      model: User.model_name.human))
